Repository AirCodeLabs/aircode, changes with the owners that CODEOWNERS names for each.
All owners: @adcentury, @wangxiao, @0xinhua

CODEOWNERS:

# Documentation
# https://help.github.com/en/articles/about-code-owners

*                         @adcentury @wangxiao @0xinhua
/.github/workflows        @adcentury @0xinhua
/demos/                   @wangxiao
/docs/                    @adcentury

wip
  docs/zh-cn/.vitepress/nav.ts
  docs/zh-cn/.vitepress/sidebar.ts
  docs/zh-cn/src/getting-started/database.md
  docs/zh-cn/src/getting-started/index.md
  docs/zh-cn/src/guide/database/index.md
  docs/zh-cn/src/guide/files/index.md
  docs/zh-cn/src/index.md
  docs/zh-cn/src/tutorials/siri-chatgpt.md
Owners: @adcentury

remove demos folder
  demos/feishu-chatGPT/chat.js
  demos/feishu-chatGPT/larkSDK.js
Owners: @wangxiao

add siri-gpt in zh-cn docs
  docs/zh-cn/.vitepress/nav.ts
  docs/zh-cn/.vitepress/sidebar.ts
  docs/zh-cn/src/examples/index.md
  docs/zh-cn/src/getting-started/index.md
  docs/zh-cn/src/index.md
  docs/zh-cn/src/tutorials/siri-chatgpt.md
Owners: @adcentury

Add english part
  docs/en/.vitepress/nav.ts
  docs/en/.vitepress/sidebar.ts
  docs/en/.vitepress/theme/components/ACImage.vue
  docs/en/src/examples/index.md
  docs/en/src/getting-started/database.md
  docs/en/src/getting-started/files.md
  docs/en/src/getting-started/index.md
  docs/en/src/guide/database/index.md
  docs/en/src/guide/files/index.md
  docs/en/src/index.md
  docs/en/src/tutorials/siri-chatgpt.md
  docs/zh-cn/.vitepress/sidebar.ts
  docs/zh-cn/.vitepress/theme/components/ACImage.vue
  docs/zh-cn/src/tutorials/siri-chatgpt.md
Owners: @adcentury

Remove unused hashtags
  docs/zh-cn/src/tutorials/siri-chatgpt.md
Owners: @adcentury

add tutorial feishu-chatGPT
  docs/zh-cn/src/public/_images/tutorials/feishu-chatGPT/1-demo.png
  docs/zh-cn/src/public/_images/tutorials/feishu-chatGPT/10-deploy-aircode.png
  docs/zh-cn/src/public/_images/tutorials/feishu-chatGPT/11-copy-webhook.png
  docs/zh-cn/src/public/_images/tutorials/feishu-chatGPT/12-bot-setting.png
  docs/zh-cn/src/public/_images/tutorials/feishu-chatGPT/13-bot-setting.png
  docs/zh-cn/src/public/_images/tutorials/feishu-chatGPT/14-add-bot-event.png
  docs/zh-cn/src/public/_images/tutorials/feishu-chatGPT/15-bot-permission.png
  docs/zh-cn/src/public/_images/tutorials/feishu-chatGPT/16-bot-permission.png
  docs/zh-cn/src/public/_images/tutorials/feishu-chatGPT/17-publish-bot.png
  docs/zh-cn/src/public/_images/tutorials/feishu-chatGPT/18-demo-chat-bot.png
  docs/zh-cn/src/public/_images/tutorials/feishu-chatGPT/19-demo-debug.png
  docs/zh-cn/src/public/_images/tutorials/feishu-chatGPT/2-create-bot.png
  docs/zh-cn/src/public/_images/tutorials/feishu-chatGPT/20-openAI.png
  docs/zh-cn/src/public/_images/tutorials/feishu-chatGPT/21-copy-env.png
  docs/zh-cn/src/public/_images/tutorials/feishu-chatGPT/22-demo-chatGPT-bot.png
  docs/zh-cn/src/public/_images/tutorials/feishu-chatGPT/3-create-bot.png
  docs/zh-cn/src/public/_images/tutorials/feishu-chatGPT/4-create-bot.png
  docs/zh-cn/src/public/_images/tutorials/feishu-chatGPT/5-create-bot.png
  docs/zh-cn/src/public/_images/tutorials/feishu-chatGPT/6-get-copy.png
  docs/zh-cn/src/public/_images/tutorials/feishu-chatGPT/7-sigin-aircode.png
  docs/zh-cn/src/public/_images/tutorials/feishu-chatGPT/8-create-aircode-app.png
  docs/zh-cn/src/public/_images/tutorials/feishu-chatGPT/9-copy-env.png
  docs/zh-cn/src/tutorials/feishu-chatGPT.md
Owners: @adcentury

remove hashtags
  docs/zh-cn/src/tutorials/feishu-chatGPT.md
Owners: @adcentury

chang file name
  docs/zh-cn/src/tutorials/feishu-chatgpt1.md
Owners: @adcentury

Configure the tutorial entry
  docs/zh-cn/.vitepress/nav.ts
  docs/zh-cn/src/getting-started/index.md
  docs/zh-cn/src/index.md
  docs/zh-cn/src/tutorials/feishu-chatGPT.md
  docs/zh-cn/src/tutorials/feishu-chatgpt1.md
Owners: @adcentury

Configure the tutorial entry
  docs/zh-cn/.vitepress/sidebar.ts
  docs/zh-cn/src/getting-started/index.md
  docs/zh-cn/src/index.md
  docs/zh-cn/src/tutorials/feishu-chatGPT.md
  docs/zh-cn/src/tutorials/siri-chatgpt.md
Owners: @adcentury

Optimize the title of faq
  docs/en/.vitepress/nav.ts
  docs/en/.vitepress/sidebar.ts
  docs/en/src/about/faq.md
Owners: @adcentury

错别字
  docs/zh-cn/src/chatgpt/index.md
Owners: @adcentury

feature(docs): add wecom ChatGPT demo
  docs/zh-cn/.vitepress/nav.ts
  docs/zh-cn/.vitepress/sidebar.ts
  docs/zh-cn/src/chatgpt/index.md
  docs/zh-cn/src/getting-started/index.md
  docs/zh-cn/src/index.md
Owners: @adcentury

fix(docs): update link description
  docs/zh-cn/src/chatgpt/index.md
  docs/zh-cn/src/getting-started/index.md
  docs/zh-cn/src/index.md
Owners: @adcentury

fix(docs): update demo links index
  docs/zh-cn/.vitepress/nav.ts
  docs/zh-cn/.vitepress/sidebar.ts
  docs/zh-cn/src/chatgpt/index.md
  docs/zh-cn/src/getting-started/index.md
  docs/zh-cn/src/index.md
Owners: @adcentury

fix(docs): add demo image
  docs/zh-cn/src/chatgpt/index.md
  docs/zh-cn/src/public/_images/chatGPT-index/wecom-demo.jpg
Owners: @adcentury

fix(docs): change demo order
  docs/zh-cn/src/chatgpt/index.md
Owners: @adcentury

feature(docs): Update faq and limits page for paid upgrade plans
  docs/en/src/about/faq.md
  docs/en/src/about/limits.md
  docs/zh-cn/src/about/faq.md
  docs/zh-cn/src/about/limits.md
Owners: @adcentury

feature(docs): Add custom support to docs page
  docs/en/.vitepress/config.ts
  docs/en/.vitepress/theme/index.ts
  docs/en/package.json
  docs/en/yarn.lock
  docs/zh-cn/.vitepress/config.ts
  docs/zh-cn/.vitepress/theme/index.ts
  docs/zh-cn/package.json
  docs/zh-cn/yarn.lock
Owners: @adcentury

feat(docs): add discords demo
  docs/en/.vitepress/tutorial-list.ts
  docs/en/src/_partials/_tutorials-list.md
  docs/en/src/chatgpt/index.md
  docs/en/src/public/_images/chatgpt-index/discord-chatgpt-bot.gif
Owners: @adcentury

feat(docs-ZH): add Discord ChatGPT demo link
  docs/zh-cn/.vitepress/tutorial-list.ts
  docs/zh-cn/src/_partials/_tutorials-list.md
  docs/zh-cn/src/chatgpt/index.md
  docs/zh-cn/src/public/_images/chatGPT-index/discord-chatgpt-bot.gif
Owners: @adcentury

fix(docs): update screenshot image
  docs/zh-cn/src/public/_images/tutorials/weixin-chatgpt/9-weixin.png
Owners: @adcentury

fix(docs): fix image
  docs/en/src/guide/functions/typescript.md
Owners: @adcentury

fix(docs): fix typescript doc issues
  docs/en/.vitepress/sidebar.ts
  docs/en/src/guide/functions/index.md
  docs/en/src/guide/functions/typescript.md
  docs/en/src/public/_images/1687943160683.png
  docs/en/src/public/_images/1687943224080.png
  docs/en/src/public/_images/1688015952700.png
  docs/en/src/public/_images/1688015974786.png
  docs/zh-cn/.vitepress/sidebar.ts
  docs/zh-cn/src/guide/functions/index.md
  docs/zh-cn/src/guide/functions/typescript.md
  docs/zh-cn/src/public/_images/1687943160683.png
  docs/zh-cn/src/public/_images/1687943224080.png
  docs/zh-cn/src/public/_images/1688015952700.png
  docs/zh-cn/src/public/_images/1688015974786.png
Owners: @adcentury

fix(docs): deployment version
  docs/en/src/reference/server/functions-runtime.md
  docs/zh-cn/src/reference/server/functions-runtime.md
Owners: @adcentury

fix(docs): ts typpo
  docs/en/src/guide/functions/index.md
  docs/zh-cn/src/guide/functions/index.md
Owners: @adcentury

fix(docs): deployment version
  docs/en/src/reference/server/functions-runtime.md
  docs/zh-cn/src/reference/server/functions-runtime.md
Owners: @adcentury

improvement(docs): Add mixpanel
  docs/en/.vitepress/env.d.ts
  docs/en/.vitepress/theme/index.ts
  docs/en/package.json
  docs/en/yarn.lock
  docs/zh-cn/.vitepress/env.d.ts
  docs/zh-cn/.vitepress/theme/index.ts
  docs/zh-cn/package.json
  docs/zh-cn/yarn.lock
Owners: @adcentury

fix: deploy btn
  examples/chatgpt-plugin/README.md
  examples/chatgpt-todolist/.well-known/ai-plugin.json
  examples/chatgpt-todolist/README.md
  examples/chatgpt-todolist/aircode.config.json
  examples/chatgpt-todolist/api/meta.ts
  examples/chatgpt-todolist/api/query.ts
  examples/chatgpt-todolist/lib/postgresql.ts
  examples/chatgpt-todolist/openapi.yaml
  examples/chatgpt-todolist/package.json
  examples/chatgpt-todolist/todos.ts
  examples/chatgpt-todolist/tsconfig.json
Owners: @adcentury, @wangxiao, @0xinhua

fix: add tsconfig.json
  examples/chatgpt-plugin/tsconfig.json
Owners: @adcentury, @wangxiao, @0xinhua

fix: plugin-todolist extra deps
  examples/chatgpt-plugin-todolist/package.json
Owners: @adcentury, @wangxiao, @0xinhua

fix: add typescript into chatGPT demo
  examples/chatgpt-plugin-todolist/package.json
Owners: @adcentury, @wangxiao, @0xinhua

fix: chatgpt plugin invalid files
  examples/chatgpt-plugin/README.md
  examples/chatgpt-plugin/api/meta.ts
  examples/chatgpt-plugin/api/query.ts
  examples/chatgpt-plugin/lib/postgresql.ts
  examples/chatgpt-plugin/openai.yaml
Owners: @adcentury, @wangxiao, @0xinhua

fix(README): Add resend example link
  README.md
  examples/README.md
Owners: @adcentury, @wangxiao, @0xinhua

fix(README): Add blog demo link
  examples/README.md
Owners: @adcentury, @wangxiao, @0xinhua

fix(README): Uppercase
  examples/README.md
Owners: @adcentury, @wangxiao, @0xinhua

fix(docs): Update examples link
  examples/langchain/README.md
Owners: @adcentury, @wangxiao, @0xinhua

fix(docs): Update README link
  examples/modular-kv-demo/README.md
  examples/realtime-chat-room/chat-room-be/README.md
  examples/realtime-game/README.md
  examples/slack-chatgpt-app/README.md
  examples/web-app-todolist/README.md
Owners: @adcentury, @wangxiao, @0xinhua

fix(docs): update documate lib
  docs/en/package.json
  docs/en/yarn.lock
Owners: @adcentury

Add Discord JavaScript Weekly
  examples/discord-javascript-weekly/README.md
  examples/discord-javascript-weekly/aircode.config.json
  examples/discord-javascript-weekly/discord.js
  examples/discord-javascript-weekly/package.json
  examples/discord-javascript-weekly/send.js
  examples/discord-javascript-weekly/tools.js
Owners: @adcentury, @wangxiao, @0xinhua
